.animation {
    border: 1px solid brown;
    background: orange;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    animation: anim 8s infinite;
}

@keyframes anim {
    0% {
        margin-left: 0;
        margin-top: 0;
        transform: scale(1);
    }
    15% {
        margin-top: 400px;  
        margin-left: 60px;
        transform: scale(1.1, 0.7);  
    }
    30% {
        margin-top: 80px;      
        margin-left: 100px;
        transform: scale(1);
    }
    45% {
        margin-top: 400px; 
        margin-left: 140px;
        transform: scale(1.1, 0.7);
    }
    60% {
        margin-top: 150px;  
        margin-left: 180px;
        transform: scale(1);
    }
    75% {
        margin-top: 400px;  
        margin-left: 220px;
        transform: scale(1.1, 0.7);
    }
    85% {
        margin-top: 220px; 
        margin-left: 260px;
        transform: scale(1);
    }
    95% {
        margin-top: 400px; 
        margin-left: 300px;
        transform: scale(1.1, 0.7);
    }
    100% {
        margin-top: 400px;  
        margin-left: 320px;
        transform: scale(1, 0.8);
    }
}